/* Dark mode colors. */
:root {
  --sl-font: "Noto Sans JP", sans-serif;
  --sl-color-accent-low: #131e4f;
  --sl-color-accent: #007cb9;
  --sl-color-accent-high: #b3c7ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
  --sl-color-text-accent: var(--sl-color-accent);
  --sl-color-text-invert: var(--sl-color-white);
  --sl-color-bg-nav: #1a1a1a;

  /* カスタムプロパティの追加 */
  --gap-xs: 8px;
  --base-font-size: 16px;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c7d6ff;
  --sl-color-accent: #007cb9;
  --sl-color-accent-high: #182775;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
  --sl-color-bg-nav: #f2f2f2;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

/* タイトルを微調整 */
.site-title {
  gap: var(--gap-xs);
}

.site-title span {
  font-size: var(--base-font-size);
}

/* マークダウン内のリンクコントラスト比を確保する */
.sl-markdown-content a:not(:where(.not-content *)) {
  color: var(--sl-color-accent-high);
}

/* ナビゲーションパネルのリンクのコントラスト比を確保する */
.right-sidebar-panel a[aria-current="true"] {
  color: var(--sl-color-accent-high);
}

.actions {
  gap: 1rem;
}

@media (max-width: 50rem) {
  .hero img {
    width: min(40%, 20rem);
  }
}